body {
  background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}

.navbar-default {
    background: #2E2926;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #FE8C1A;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.active
{
    color: #FE8C1A;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  margin-bottom: 20px;
  padding-top: 20px;
}

.tab-container {
    margin-bottom: 20px;
}

.tab-box {
    background: #ECEBE9;
    border: none;
    height: 200px;
}

.tab-box h4 {
    text-align: left;
    color: #2E2926;
    background-color: #EA870E;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.tab-box-image {
  width:100%;
  background-size:cover;
  background-position:center center;
}

.tab-box-civil {
  background-image: url("../img/civil.jpg");
}

.tab-box-architecture {
  background-image: url("../img/architecture.jpg");
}

.tab-box-mep {
  background-image: url("../img/mep.jpg");
}

.tab-box-permit {
  background-image: url("../img/permit.jpg");
}

.tab-box-plat {
  background-image: url("../img/plat.jpg");
}

.tab-box-structural {
  background-image: url("../img/structural.jpg");
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer p {
  margin: 0;
  padding: 30px 0;
  color: #2E2926;
  font-weight: bold;
  font-size: 14px;
}

.navbar {
    margin-bottom: 0;
}

.img-responsive {
    margin-bottom: 10px;
    width: 100%;
}

.services-img {
  max-width:100%;
  max-height: 100%;
  background-size:cover;
  background-position:top center;
  height: 300px;
}

.service-container .row {
  background: #e4e3e0;
  margin-top: 20px;
}

.service-container .row:nth-child(even){
  background: #dcdad7;
}

.services-content h2 {
  padding: 20px 10px 10px 10px;
}

.service-content-text {
  padding: 10px 5px;
}

.navbar-default .navbar-toggle {
  border-color: #888888;
}

.tab-link,
.tab-link:focus,
.tab-link:hover {
  text-decoration: none;
  color: #2E2926;
}

.logo-wrapper {
  display: none;
}

.contact-number {
  font-size: 0.5em;
  padding: 15px;
}

@media screen and (min-width: 768px) {
    .img-responsive {
        margin-bottom: 10px;
    }

    .brand-wrapper {
        background-color: #EEEEEE;
    }
    
    .brand {
      display: inherit;
      font-weight: 700;
      font-size: 2em;
      line-height: normal;
      text-align: left;
      margin: 0;
      padding: 10px 0 10px 10px;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    
    .brand a,
    .brand a:focus,
    .brand a:active,
    .brand a:hover {
        color: #2E2926;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .top-divider {
      margin-top: 0;
    }
    
    .img-left {
      float: left;
      margin-right: 25px;
    }
    
    .address-bar {
      display: inherit;
      text-align: left;
      margin: 0;
      padding: 0 0 20px;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    
    .navbar {
      border-radius: 0;
    }
    
    .navbar-header {
      display: none;
    }
    
    .navbar {
      min-height: 0;
    }
    
    .navbar-default {
      background: #2E2926;
      border: none;
    }
    
    .nav>li>a {
      padding: 9px 15px;
      color: #ffffff;
    }
    
    .navbar-nav>li>a {
      line-height: normal;
      color: #ffffff;
    }
    
    .navbar-nav {
      float: left;
      display: table;
      table-layout: fixed;
      font-size: 1em;
      padding-left: 0;
    }
    
    .resources-container {
        background-color: #2E2926;
    }
    
    .logo {
        height: 102px;
        width: 100px;
        padding: 5px;
    }
    
    .header-wrapper {
      width: 100%;
    }
    
    .logo-wrapper {
      float: left;
      background-color: #EEEEEE;
      font-size: 0;
      display: block;
    }
    
    .logo-link {
      display: block;
    }
    
    .navigation-wrapper {
      overflow: hidden;
      vertical-align: top;
    }
    
    .brand {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .navbar-collapse {
      padding-left: 0;
      float: right;
    }

}

@media screen and (min-width: 1200px) {
    .container {
      width: 95%;
    }
    
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
    .brand {
        font-size: 2.45em;
    }
    .nav>li>a {
      padding: 9px 15px;
      color: #ffffff;
    }
    
    .navbar-nav>li>a {
      line-height: normal;
      color: #ffffff;
    }
    
    .navbar-nav {
      float: left;
      display: table;
      table-layout: fixed;
      font-size: 1.25em;
      padding-left: 0;
    }
}